# Python
   __pycache__/
   *.py[cod]
   *.so

   # Virtual environment
   .venv/
   venv/
   ENV/

   # Streamlit
   .streamlit/

   # IDEs
   .vscode/
   .idea/

   # Miscellaneous
   *.log
   .DS_Store
