[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
faiss-cpu = "*"
langchain-community = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
pytest = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
